
    
/*--RESET--*/
        
* {
    margin: 0;
    padding: 0;border: none;
    outline: none;
    font: inherit;
    
    vertical-align: baseline;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

strong {
font-weight: 900;
}

#author {
width: 100%;
max-width: 100%;
margin-bottom: 20px;
}

.metadata {
    
}

#tumblr_controls {
    z-index: 6666 !important;
}

input, textarea, button {
    background: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/*--BODY--*/

body {
    font-style: normal;
    font-size: 19px;
line-height: 180%;
color: #000;
    background: #fff;
}

p {font-family: 'Droid Serif', serif;}

h1, h2, h3, h4, h5,
#author .name {
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 17px;
    padding-top: -10px;
    padding-bottom: 10px;
    margin-bottom: -20px;
    margin-left: -54px;

}

#google {background-color: #EDEDED; font-size: 11px;color: #68686A;}
#twitter {background-color: #EDEDED; font-size: 12px;color: #68686A;}
#linkedin {background-color: #EDEDED; font-size: 12px;color: #68686A;}
#cv {background-color: #EDEDED; font-size: 12px;color: #68686A;}
#github {background-color: #EDEDED; font-size: 12px;color: #68686A;}
#inbound {background-color: #EDEDED; font-size: 11px;color: #68686A;}

#menu a, #search-form, .button,
.post-data .extra, .tags, .post-notes {
    
    font-family: 'Source Sans Pro', sans-serif;
    
    font-weight: 400;
    font-size: 17px;
}

p, .post ul, .post ol {
    margin: 0 0 15px 0;
}

a {
color: #68686A; 
    font-weight: inherit;
    text-decoration: none;
    
    -webkit-transition: color .15s ease-out, border-bottom-color .15s ease-out;
       -moz-transition: color .15s ease-out, border-bottom-color .15s ease-out;
         -o-transition: color .15s ease-out, border-bottom-color .15s ease-out;
            transition: color .15s ease-out, border-bottom-color .15s ease-out;
}

a:hover {
    color: #212121;
}

p a {
    border-bottom: 1px solid #eee;
}

p a:hover {
    border-bottom-color: #212121;
}



em {
    font-style: italic;
}

h1, h2, h3, h4, h5 {
    margin: 0 0 5% 0;
    color: #212121;
}
h1 {font-size: 34px;font-weight: 900; font-size: 34px;}
h2 {font-size: 32px;}
h3 {
font-size: 20px;
margin: 0px;
line-height: 21px;
font-weight: 600;
color: #948D8D;
}
h4 {
margin: 0px;
font-size: 18px;
text-transform: uppercase;
color: #000;
}
h5 {font-size: 16px;
    
}

a h1, a h2, a h3, a h4, a h5 {
    font-weight: 900;
    
    -webkit-transition: color .15s ease-out;
       -moz-transition: color .15s ease-out;
         -o-transition: color .15s ease-out;
            transition: color .15s ease-out;
}

a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5 {
    color: #68686A;
}

.quote {
font-size: 21px;
line-height: 35px;
font-weight: 200;
color: rgb(62, 62, 62);
}

#quote {
background: #fff;
text-align: left;
margin: 0px;
padding: 0px;
}

h2.quote span {
color: #706A6A;
font-size: 18px;
}

blockquote {
    margin: 0 0 15px 0;
    padding-left: 20px;
    border-left: 2px solid #ccc;
    font-style: italic;
}
#posthome {
height: 85px;
background: rgb(252, 252, 252);
padding-top: 1px;
padding-left: 20px;
border-top: solid #F7F7F7 1px;
}

ul, ol {
    margin: 0 0 15px 0;
    padding-left: 25px;
}

ul {list-style: square;}
ol {list-style: decimal;}

sup {vertical-align: super;}
sub {vertical-align: sub;}

hr {
    height: 2px;
    width: 50%;
    margin: 30px auto;
    color: #eee;
    background: #eee;
    display: block;
    clear: both;
}

pre, code {
    margin: 0 0 15px 0;
    font: 400 15px/24px monospace;
    color: #c5c8c6;
    background: #212121;
    overflow-x: auto;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

pre {
    padding: 15px 20px;
}

code {
    margin: 0;
    padding: 3px 7px;
}

/*--CLEARFIXES--*/

#author .portrait:after,
.post:after,
.photoset:after,
.post-data .extra:after,
.post-notes:after {
    content: '';
    display: block;
    clear: both;
}

/*--HEADER--*/

#header {
width: 100%;
border-bottom: 1px solid #F6F6F6;
background: #fff;
overflow: hidden;
position: fixed;
z-index: 8888;
top: 0;
}




/*--MENU--*/

#menu {
    margin: 0px 20px 0px 0px;
display: inline-block;
float: right;
}

#menu a {
margin-left: 15px;
font-size: 13px;
text-transform: uppercase;
color: #050505;
font-weight: 600;
}

#menu a:hover {
    color: #212121;
}
#menu a.current {
    color: #212121;
}

/*--SEARCH--*/
    
#toggle {
    display: none;
}


#search-form {
background: #FBFBFB;
display: block;
float: right;
height: 40px;
}

#search-form:before {
    content: '';
    height: 100%;
    width: 1px;
    background: #eee;
    position: absolute;
}

#search-form input {
    width: 200px;
    padding: 11px;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 13px;
    color: #212121;
    
    -webkit-transition: width .2s ease-out;
       -moz-transition: width .2s ease-out;
         -o-transition: width .2s ease-out;
            transition: width .2s ease-out;
}


h2 span {
color: #383838;
}

/* WEBKIT FIX :( */
::-webkit-input-placeholder {
    line-height: 16px;
}

#search-form button {
    right: 0;
    padding: 14px;
    line-height: 0;
    opacity: .5;
    display: inline-block;
    position: absolute;
    
    -webkit-transition: padding-right .15s ease-out;
       -moz-transition: padding-right .15s ease-out;
         -o-transition: padding-right .15s ease-out;
            transition: padding-right .15s ease-out;    
}

#search-form button:hover {
    opacity: .85;
    cursor: pointer;
}

#search-form:hover button {
    padding-right: 18px;
}

/*--AUTHOR--*/

#author {
    width: 150px;
    left: 50%;
    margin: 100px 0 0 -520px;
    text-align: right;
    position: absolute;
}

#author .portrait {
display: block;
text-align: center;
background: #fff;
padding: 50px 0px 0px 0px;
margin-bottom: -20px;
}

h2#quote {
font-size: 20px;
font-weight: 200;
}

.h2home {
font-size: 20px;
font-weight: 200;
text-decoration: underline;
}

#author .portrait img {
    height: 100px;
    width: 100px;
    display: block;
    background: #EEE;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    margin: 0 auto;
    border: 4px solid #FFF;
}



#author .portrait img:hover {
    opacity: .85;
}

#author.square .portrait img {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
         -o-border-radius: 0px;
            border-radius: 0px;
}

#author.rounded-square .portrait img {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

#author.hidden .portrait {
    display: none;
}

#author p {
    margin: 20px 0 0 0;
}

#author .name {
   
}

#author.hidden .name {
    margin-top: 0;
}

#author .bio {
    font-size: 14px;
    line-height: 22px;
    padding: 14px;
    text-align: center;
    color: #6D6D6D; 
    background: #fff;
}



/*--PAGE--*/

#page {
    width: 80%;
    max-width: 640px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
}

/*--WRAPPER--*/

.wrapper {
padding: 10px 0px;
border-top: 1px solid #F6F6F6;
}
.post h2 {
font-size: 26px;
font-weight: bold;
margin-bottom: 0px;
background-color: #fff;
margin-top: 0px;
padding: 2px;
font-family: 'Source Sans Pro', sans-serif;
}

h2 a {
text-decoration: underline;
}

h1#quote {
font-size: 30px;
line-height: 35px;
font-weight: 100;
color: rgb(62, 62, 62);
text-align: center;
margin-top: 30px;
}



.quote-author {
text-align: center;
font-size: 16px;
}

.wrapper:first-child {
    border-top: none;
    padding-top: 0;
}

/*--POSTS--*/

.post {
    width: 100%;
    display: block;
}

.post p img {
    max-width: 100%;
    display: block;
}

/* audio */

.soundcloud_audio_player,
.tumblr_audio_player,
.spotify_audio_player {
    width: 100%;
}

/* chat */

.chat {
    padding: 0;
    list-style: none;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.chat li {
    padding: 2px 10px;
    border-top: 1px solid #e3e3e3;
}

.chat li:first-child {
    border-top: none;
}

.chat .even {
    background: #f9f9f9;
}

/* answer */

.answer-post {
    padding: 0;
    list-style: none;
    border: 1px solid #e3e3e3;
    overflow: hidden;
    
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}

.answer-post li {
    padding: 2px 10px;
    border-top: 1px solid #e3e3e3;
}

.answer-post .question {
    border-top: none;
}

.answer-post .answer {
    background: #f9f9f9;
}

.answer-post li img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
    vertical-align: middle;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.answer-post p {
    display: inline;
}

/* video */

.video-wrap {
    margin: 0 0 15px 0;
}

/* photos */

.post .lightbox {
    width: 100%;
    margin: 0 0 15px 0;
    border-bottom: none;
    background: none;
    float: left;
    position: relative;
}


.post .lightbox {
    background: none;
    
    -webkit-background-size: 16px;
       -moz-background-size: 16px;
            background-size: 16px;
}


.post .lightbox:hover {
    background: none;
    
    -webkit-background-size: 16px;
       -moz-background-size: 16px;
            background-size: 16px;
}



.post .lightbox img {
    max-width: 100%;
    display: block;
    
    -webkit-transition: opacity .085s ease-out;
       -moz-transition: opacity .085s ease-out;
         -o-transition: opacity .085s ease-out;
            transition: opacity .085s ease-out;
    
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}

.post .lightbox img:hover {
    opacity: .085;
}

.post .photoset {
    width: 101%;
    margin: 0 0 15px -0.5%;
}

.post .photoset .lightbox {
    width: 49%;
    margin: 0.5%;
    padding-bottom: 25%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    
    -webkit-transition: padding-bottom .2s ease-in-out;
       -moz-transition: padding-bottom .2s ease-in-out;
         -o-transition: padding-bottom .2s ease-in-out;
            transition: padding-bottom .2s ease-in-out;
}

.post .photoset .lightbox img {
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

/*--LIGHTBOX--*/

#lightbox {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: none;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 9999;
}

[data-lightbox='open'] #lightbox {
    display: block;
}

[data-lightbox='open'] #lightbox:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#lightbox > div {
    max-height: 95%;
    max-width: 95%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#lightbox_controls {
    width: 100%;
    bottom: 10px;
    text-align: center;
    opacity: 0;
    position: absolute;
    z-index: 9999;
    
    -webkit-transition: opacity .25s .5s ease-out;
       -moz-transition: opacity .25s .5s ease-out;
         -o-transition: opacity .25s .5s ease-out;
            transition: opacity .25s .5s ease-out;
}

.touch-device #lightbox_controls {
    opacity: 1;
}

#lightbox > div:hover #lightbox_controls {
    opacity: 1;
}

#lightbox img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: relative;
    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
         -o-box-shadow: 0 1px 3px rgba(0,0,0,.25);
            box-shadow: 0 1px 3px rgba(0,0,0,.25);
    
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    
    -webkit-transition: -webkit-transform .6s ease-out, opacity .25s ease-out;
       -moz-transition: -moz-transform .6s ease-out, opacity .25s ease-out;
         -o-transition: -o-transform .6s ease-out, opacity .25s ease-out;
            transition: transform .6s ease-out, opacity .25s ease-out;
}

#lightbox img.visible {
    opacity: 1;
    
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

/*--POST DATA--*/

.post-data {
    width: 100%;
    margin-top: 25px;
}

.timestamp > span {
    margin-left: 10px;
    font-size: 14px;
}

.timestamp:hover > span {
    margin-left: 20px;
}

/* like button */

.like_button {
    margin-left: 5px;
    display: inline-block;
}

.like_button iframe {
    cursor: pointer;
    vertical-align: middle;
}

.reblog_button {
    margin-left: 5px;
    display: inline-block !important;
}

.reblog_button svg {
    margin-bottom: -4px;
}

/* tags */

.tags {
    font-size: 13px;
    text-transform: uppercase;
}

.tags p {
    margin: 15px 0 0 0;
}

.tags a {
    margin-left: 5px;
    color: #68686A;
}

.tags a:hover {
    color: #212121;
}

/* extra */
.HighRes {
    max-width: 610px;
}
.post-data .extra {
    width: 100%;
    margin-top: 10%;
    border-top: 2px solid #eee;
    display: block;
}

.post-data .extra a {
    width: 25%;
    margin-top: -2px;
    padding: 10px 0;
    font-size: 15px;
    color: #212121;
    text-align: center;
    border-top: 2px solid #eee;
    display: inline-block;
    float: left;
    
    -webkit-transition: background .15s ease-out;
       -moz-transition: background .15s ease-out;
         -o-transition: background .15s ease-out;
            transition: background .15s ease-out;
}

.post-data .extra .icon {
    height: 22px;
    width: 22px;
    margin: 0 10px -5px 0;
    display: inline-block;
    background: url('http://static.tumblr.com/ylbvj5j/Y3Gmowz7q/sprite-icons.png') no-repeat 0 0;
}

.post-data a.notes {border-top-color: #cf1320; color: #cf1320;}
.post-data a.reblog {border-top-color: #50be6c; color: #50be6c;}
.post-data a.tweet {border-top-color: #24a5db; color: #24a5db;}
.post-data a.share {border-top-color: #3b5998; color: #3b5998;}

.post-data a.notes:hover {background: #f6f0f1;}
.post-data a.reblog:hover {background: #f0fcf3;}
.post-data a.tweet:hover {background: #eef6f9;}
.post-data a.share:hover {background: #f0f2f7;}

.post-data .notes .icon {background-position: 0 0;}
.post-data .reblog .icon {background-position: -44px 0;}
.post-data .tweet .icon {background-position: -88px 0;}
.post-data .share .icon {background-position: -132px 0;}

/*--POST NOTES--*/

.post-notes {
    margin-top: 7.5%;
    font-size: 15px;
}

.post-notes ol {
    margin: 0;
    padding: 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    list-style: none;
}

.post-notes li {
    padding: 2px 0;
    border-top: 1px solid #eee;
}

.post-notes li:first-child {
    border-top: none;
}

.post-notes li img {
    margin-right: 5px;
    vertical-align: middle;
    
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
         -o-border-radius: 2px;
            border-radius: 2px;
}

.post-notes li.note:before,
.post-notes li.reblog:before {
    content: '';
    height: 22px;
    width: 22px;
    margin-top: 5px;
    opacity: .15;
    background: url('http://static.tumblr.com/ylbvj5j/jnJmoa8iv/sprite-icons.png') no-repeat -176px 0;
    float: right;
    display: block;
    
    -webkit-transition: margin-right .15s ease-out, opacity .15s ease-out;
       -moz-transition: margin-right .15s ease-out, opacity .15s ease-out;
         -o-transition: margin-right .15s ease-out, opacity .15s ease-out;
            transition: margin-right .15s ease-out, opacity .15s ease-out;
}

.post-notes li.reblog:before {
    background-position: -220px 0;
}

.post-notes li.note:hover:before,
.post-notes li.reblog:hover:before {
    margin-right: 5px;
    opacity: .25;
}

/*--SEARCH PAGES--*/

span.search_query, a.tag {
    font-weight: 400;
    color: inherit;
}

span.search_query:before,
a.tag:before {
    content: 'ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œ';
}
span.search_query:after,
a.tag:after {
    content: 'ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â';
}

/*--PAGINATION--*/

#pagination {
    text-align: center;
}

#pagination a {
max-height: 30px;
min-width: 30px;
text-align: center;
color: #848080;
background-color: #FFF;
border: #E1E1E1 1px solid;
}

a#nextPageLink {
background: #BCBCBC;
}

a.button.inactive {
background: #BCBCBC!important;
color: #FFF!important;
}


input#mc-embedded-subscribe {
clear: both;
background-color: #FFF;
border: 0 none;
border-radius: 4px;
color: #3C3C3C;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: bold;
height: 32px;
line-height: 32px;
margin: 0 5px 10px 0;
padding: 0 40px;
text-align: center;
text-decoration: none;
vertical-align: top;
white-space: nowrap;
width: auto;
border: 1px solid #8A8282;
font-weight: 600;
text-transform: uppercase;
}

.bio p {
font-size: 18px;
line-height: 28px;
color: #000;
font-family: 'Droid Serif', serif;
}

/*--FOOTER--*/

.footer {
text-align: center;
font-size: 15px;
margin-top: -30px;
color: #000;
font-family: 'Source Sans Pro', sans-serif;
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    color: #999;
}

/*--ARROWS--*/

.arrow {
    height: 10px;
    width: 10px;
    background: url('http://static.tumblr.com/ylbvj5j/HRsmo2szj/sprite-arrows.png') no-repeat 0 0;
    display: inline-block;
}

.arrow.right {background-position: -10px 0;}



.arrow.dark {background-position: -20px 0;}
.arrow.right.dark {background-position: -30px 0;}

/*--BUTTONS--*/

.button {
    padding: 10px;
    font-size: 13px;
    line-height: 10px;
    color: #ddd;
    text-transform: uppercase;
    background-color: #a1a1a1;
    display: inline-block;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
    
    -webkit-transition: background-color .15s ease-out;
       -moz-transition: background-color .15s ease-out;
         -o-transition: background-color .15s ease-out;
            transition: background-color .15s ease-out;
}


#caption-image {
float: left;
width: auto!important;
margin: 10px 20px 10px 0px;
border: 1px solid #F6F6F6;
}
.button:hover {
    color: #fff;
    background-color: #68686A;
}

.button.inactive {
    color: #fff;
    background-color: #ccc;
}

/*--HORIZONTALLY RESPONSIVE--*/

@media only screen and (max-width: 1100px) {

    /*--PAGE--*/
    
    #page {
        padding: 0;
    }
    
    /*--WRAPPER--*/
    
    .wrapper:first-child {
        padding-top: 7.5%;
    }

    /*--AUTHOR--*/
    
    #author {
        width: 80%;
        max-width: 640px;
        left: 0;
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;
        border-bottom: 2px solid #eee;
        display: block;
        position: relative;
    }
    
    #author .portrait {
    display: block;
    text-align: center;
    background: #fff;
    padding: 50px 0px 0px 0px;
    margin-bottom: -20px;
    }
    
    #author .portrait img {
        margin: 0 auto;
        float: none;
        
    }
    
    #author .name,
    #author .bio {
        width: 80%;
        margin: 0 auto;
        background: none;
    }

}

@media only screen and (max-width: 768px) {
    
    /*--PAGE--*/
    
    #page, .wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    
    /*--WRAPPER--*/
    
    .wrapper {
        padding: 10% 0;
    }
    
    /*--POSTS--*/
    
    .post, .post-data, .post-notes,
    #disqus_thread, .quote, .bio  {
        width: 80%;
        max-width: 640px;
        margin: 0 auto;
    }
    
    .post-data {
        margin: 15px auto 0 auto;
    }
    
    .post-notes {
        margin-top: 7.5%;
    }
    
    /*--AUTHOR--*/
    
    #author {
        width: 100%;
        max-width: 100%;
        padding: 7.5% 0;
    }
    
}

@media only screen and (min-width: 641px) {

    #tumblr_controls {
        z-index: 7777 !important;
    }
    
}

@media only screen and (max-width: 640px) {
    
    /*--RESET--*/
    
    * {
        -webkit-text-size-adjust: none;
           -moz-text-size-adjust: none;
                text-size-adjust: none;
    }
    
    /*--BODY--*/
    
    body {
        font-size: 16px;
    }
    
    h2 {font-size: 24px;}
    h3 {
    font-size: 20px;
    margin: 0px;
    line-height: 21px;
    font-weight: 600;
    color: #948D8D;
    }
    h4 {font-size: 16px;}
    h5 {font-size: 15px;}
    
    /*--AUTHOR--*/
    
    #author .portrait img {
        height: 80px;
        width: 80px;
    }
    
    
    
    /*--POST DATA--*/
    
    .post-data .extra .label {
        display: none;
    }
    
    .post-data .extra .icon {
        margin: 0 auto;
        display: block;
    }
    
    /*--LIGHTBOX--*/
    
    #lightbox_controls {
        opacity: 1;
    }

}

@media only screen and (max-width: 640px) {
    
    /*--MENU--*/
    
    #menu {
    margin: 1px 20px;
    display: inline-block;
    }
    
    [data-menu='true'] #menu {
        border-top: 2px solid #eee;
        display: block;
    }
    
    #menu a {
        margin: 0;
        display: block;
    }
    
    /*--SEARCH FORM--*/
    
    #toggle {
        padding: 9px;
        border-right: 2px solid #eee;
        display: inline-block;
        float: left;
    }
    
    #toggle > span {
        height: 22px;
        width: 22px;
        background: url('http://static.tumblr.com/ylbvj5j/g5Rmo9znm/sprite-toggle.png') no-repeat 0 0;
        opacity: .65;
        display: block;
    
        -webkit-transition: opacity .1s ease-out;
           -moz-transition: opacity .1s ease-out;
             -o-transition: opacity .1s ease-out;
                transition: opacity .1s ease-out;
    }
    
    #toggle:hover > span {
        opacity: .85;
    }
    
    #search-form {
        max-height: 40px;
        width: 100%;
        border-left: none;
        float: none;
        overflow: hidden;
    }

    #search-form:before {
        content: '';
        height: 0;
        width: 0;
    }
    
    #search-form > span {
        display: block;
        overflow: hidden;
    }
    
    #search-form input,
    #search-form input:focus {
        width: 100%;
    }

}

/*--RETINA GRAPHICS--*/

@media  only screen and (-webkit-min-device-pixel-ratio: 2),
        only screen and (-moz-min-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2),
        only screen and (min-device-pixel-ratio: 2) {
    
    /*--TOGGLE--*/
    
    #toggle > span {
        background-position: 0 -11px;
        
        -webkit-background-size: 22px 55px;
           -moz-background-size: 22px 55px;
                background-size: 22px 55px;
    }
    
    /*--LIGHTBOX--*/
    
    #lightbox {
        -webkit-background-size: 16px;
           -moz-background-size: 16px;
                background-size: 16px;
    }
    
    /*--POST DATA--*/
    
    .post-data .extra .icon {
        -webkit-background-size: 132px 33px;
           -moz-background-size: 132px 33px;
                background-size: 132px 33px;
    }
    
    .post-data a.notes .icon {background-position: 0 -11px;}
    .post-data a.reblog .icon {background-position: -22px -11px;}
    .post-data a.tweet .icon {background-position: -44px -11px;}
    .post-data a.share .icon {background-position: -66px -11px;}

    /*--POST NOTES--*/
    
    .post-notes li.note:before,
    .post-notes li.reblog:before {
        background-position: -88px -11px;
        
        -webkit-background-size: 132px 33px;
           -moz-background-size: 132px 33px;
                background-size: 132px 33px;
    }
    
    .post-notes li.reblog:before {background-position: -110px -11px;}
    
    /*--ARROWS--*/

    .arrow {
        background-position: 0 -5px;
        
        -webkit-background-size: 20px 25px;
           -moz-background-size: 20px 25px;
                background-size: 20px 25px;
    }
    
    .arrow.right {background-position: 0 -15px;}
    
    
    
    .arrow.dark {background-position: -10px -5px;}
    .arrow.right.dark {background-position: -10px -15px;}

}